In [1]:
from preprocessing.benchmarks import *
from preprocessing import *
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
som=SOMBenchmark()
df_c = df.copy()
df_c.drop(['PassengerId', 'HomePlanet', 'Cabin',
                   'Destination', 'Name'], axis=1, inplace=True)
df_c.dropna(inplace=True)
df_c['CryoSleep'] = df_c['CryoSleep'].astype(int)
df_c['VIP'] = df_c['VIP'].astype(int)
df_c['Transported'] = df_c['Transported'].astype(int)
df_c

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0,16.0,0,303.0,70.0,151.0,565.0,2.0,1
...,...,...,...,...,...,...,...,...,...
8688,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0
8689,1,18.0,0,0.0,0.0,0.0,0.0,0.0,0
8690,0,26.0,0,0.0,0.0,1872.0,1.0,0.0,1
8691,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0
8692,0,44.0,0,126.0,4688.0,0.0,0.0,12.0,1

In [4]:
df_c.dtypes

CryoSleep         int64
Age             float64
VIP               int64
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Transported       int64
dtype: object

In [5]:
som.evaluate(df_c)

0.7036526533425224

In [6]:
prep = Preprocessing(df,target="Transported")
prep.dataset

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,GroupID,NumInGroup,...,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T,Side_P,Side_S,Transported
0,False,39.0,False,0.0,0.0,0.0,0.0,0.0,1,1,...,True,False,False,False,False,False,False,True,False,False
1,False,24.0,False,109.0,9.0,25.0,549.0,44.0,2,1,...,False,False,False,False,True,False,False,False,True,True
2,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,3,1,...,False,False,False,False,False,False,False,False,True,False
3,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,3,2,...,False,False,False,False,False,False,False,False,True,False
4,False,16.0,False,303.0,70.0,151.0,565.0,2.0,4,1,...,False,False,False,False,True,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,41.0,True,0.0,6819.0,0.0,1643.0,74.0,9276,1,...,False,False,False,False,False,False,False,True,False,False
8689,True,18.0,False,0.0,0.0,0.0,0.0,0.0,9278,1,...,False,False,False,False,False,True,False,False,True,False
8690,False,26.0,False,0.0,0.0,1872.0,1.0,0.0,9279,1,...,False,False,False,False,False,True,False,False,True,True
8691,False,32.0,False,0.0,1049.0,0.0,353.0,3235.0,9280,1,...,False,False,False,True,False,False,False,False,True,False
8692,False,44.0,False,126.0,4688.0,0.0,0.0,12.0,9280,2,...,False,False,False,True,False,False,False,False,True,True

In [7]:
prep.dataset.dtypes

CryoSleep                       bool
Age                          float64
VIP                             bool
RoomService                  float64
FoodCourt                    float64
ShoppingMall                 float64
Spa                          float64
VRDeck                       float64
GroupID                        int64
NumInGroup                     int64
CabinNumber                    int64
HomePlanet_Earth                bool
HomePlanet_Europa               bool
HomePlanet_Mars                 bool
Destination_55 Cancri e         bool
Destination_PSO J318.5-22       bool
Destination_TRAPPIST-1e         bool
Deck_A                          bool
Deck_B                          bool
Deck_C                          bool
Deck_D                          bool
Deck_E                          bool
Deck_F                          bool
Deck_G                          bool
Deck_T                          bool
Side_P                          bool
Side_S                          bool
Transported                     bool
dtype: object

In [8]:
som.evaluate(prep.dataset)

0.5060514372163388

In [9]:
scaled = prep.preprocess()
scaled

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,GroupID,NumInGroup,...,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T,Side_P,Side_S,Transported
0,False,0.695413,False,-0.345756,-0.285355,-0.309494,-0.273759,-0.269534,-1.745817,-0.490161,...,True,False,False,False,False,False,False,True,False,False
1,False,-0.336769,False,-0.176748,-0.279993,-0.266112,0.206165,-0.230494,-1.745442,-0.490161,...,False,False,False,False,True,False,False,False,True,True
2,False,2.002842,True,-0.279083,1.845163,-0.309494,5.596357,-0.226058,-1.745068,-0.490161,...,False,False,False,False,False,False,False,False,True,False
3,False,0.282540,False,-0.345756,0.479034,0.334285,2.636384,-0.098291,-1.745068,0.458288,...,False,False,False,False,False,False,False,False,True,False
4,False,-0.887266,False,0.124056,-0.243650,-0.047470,0.220152,-0.267759,-1.744693,-0.490161,...,False,False,False,False,True,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6597,False,-0.199145,False,0.026372,-0.141176,0.575485,-0.273759,-0.269534,1.726557,-0.490161,...,False,False,False,False,True,False,False,True,False,False
6598,False,-0.543205,False,-0.212410,-0.283568,-0.050941,-0.091930,0.022377,1.726557,0.458288,...,False,True,False,False,False,False,False,False,True,False
6599,False,-1.988259,False,-0.345756,-0.285355,-0.309494,-0.273759,-0.269534,1.727680,-0.490161,...,False,False,False,False,True,False,False,True,False,False
6604,False,0.213728,False,-0.345756,0.339621,-0.309494,0.034826,2.600774,1.729553,-0.490161,...,False,True,False,False,False,False,False,True,False,True
6605,True,1.039473,False,-0.150389,2.507673,-0.309494,-0.273759,-0.258887,1.729553,0.458288,...,False,True,False,False,False,False,False,True,False,True

In [10]:
som.evaluate(scaled)

0.575

In [11]:
c=Classifier()
c.evaluate(df,target="Transported")

              precision    recall  f1-score   support

       False       0.85      0.68      0.76       985
        True       0.74      0.88      0.80       997

    accuracy                           0.78      1982
   macro avg       0.79      0.78      0.78      1982
weighted avg       0.79      0.78      0.78      1982

0.7830474268415741

In [12]:
c.evaluate(prep.dataset,target="Transported")

              precision    recall  f1-score   support

       False       0.85      0.68      0.76       985
        True       0.74      0.88      0.80       997

    accuracy                           0.78      1982
   macro avg       0.79      0.78      0.78      1982
weighted avg       0.79      0.78      0.78      1982

0.7830474268415741

In [13]:
c.evaluate(scaled,target="Transported")

              precision    recall  f1-score   support

       False       0.54      0.38      0.45       764
        True       0.51      0.66      0.58       736

    accuracy                           0.52      1500
   macro avg       0.53      0.52      0.51      1500
weighted avg       0.53      0.52      0.51      1500

0.5213333333333333