In [1]:
from preprocessing.benchmarks import *
from preprocessing import *
import pandas as pd

In [2]:
df=pd.read_csv('data/train.csv')
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
clf = ClassifierBenchmark()
clf.evaluate(df,target='Transported')

              precision    recall  f1-score   support

       False       0.84      0.69      0.76      1284
        True       0.75      0.88      0.81      1324

    accuracy                           0.79      2608
   macro avg       0.80      0.79      0.78      2608
weighted avg       0.79      0.79      0.78      2608

0.7864263803680982

In [4]:
prep = Preprocessing(dataset=df,target='Transported',selector=VARSelector(),extractor=PCAExtractor(num_components=8,target="Transported"))
prep.preprocess()
prep.dataset

/home/anatol/Documents/GitHub/Data-Mining-assignment-1/preprocessing/preprocessing.py:120: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cat[col].fillna(modes[col], inplace=True)
/home/anatol/Documents/GitHub/Data-Mining-assignment-1/preprocessing/preprocessing.py:120: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cat[col].fillna(modes[col], inplace=True)

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,Transported
0,0.786994,-0.061192,-1.255201,-0.433456,0.047849,-0.448585,-0.904250,0.023666,0.0
1,0.103930,-0.284257,-0.638213,0.300479,-0.384766,-0.347485,0.525366,0.151635,1.0
2,4.723835,0.485293,1.400914,-1.242289,-4.052353,-0.785727,0.569686,0.220719,0.0
3,2.344856,-0.234086,0.181270,0.167757,-2.039690,-0.868866,0.582591,-0.291152,0.0
4,-0.046150,-0.230079,-0.559206,0.868793,-0.467586,-0.265268,0.533887,0.140784,1.0
...,...,...,...,...,...,...,...,...,...
8688,3.505543,-0.529017,0.369874,-0.251167,-1.005696,2.547689,-1.010636,0.426873,0.0
8689,-1.602386,-0.407798,1.168406,-0.188027,-0.012900,0.224360,0.824771,0.597528,0.0
8690,-1.403660,-0.147261,1.063594,-0.612988,0.040290,0.366911,0.835031,0.365076,1.0
8691,1.793128,-0.435313,0.915786,0.133712,1.773598,-0.694873,0.772861,-0.174656,0.0
8692,1.754051,-0.183529,-0.182254,-0.627777,-0.007984,2.373858,0.550125,-0.345531,1.0

In [5]:
clf.evaluate(prep.dataset,target='Transported')

              precision    recall  f1-score   support

         0.0       0.91      0.96      0.93      1284
         1.0       0.96      0.91      0.93      1324

    accuracy                           0.93      2608
   macro avg       0.93      0.93      0.93      2608
weighted avg       0.94      0.93      0.93      2608

0.9340490797546013