In [18]:
import pandas as pd
from sklearn_som.som import SOM
from sklearn.preprocessing import MinMaxScaler
spaceship=pd.read_csv('spaceship-titanic/train.csv')
spaceship

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [19]:
spaceship.dropna(inplace=True)
spaceship.drop(['PassengerId','HomePlanet','CryoSleep','Cabin','Destination','VIP','Name','Age'],axis=1,inplace=True)
spaceship_data=spaceship.iloc[:,:-1]
norm=MinMaxScaler(feature_range=(0,5))
norm.fit(spaceship_data)
spaceship_data=pd.DataFrame(norm.transform(spaceship_data),columns=spaceship_data.columns)
spaceship_data

      RoomService  FoodCourt  ShoppingMall       Spa    VRDeck
0        0.000000   0.000000      0.000000  0.000000  0.000000
1        0.054940   0.001509      0.010202  0.122501  0.010818
2        0.021673   0.599738      0.000000  1.498349  0.012048
3        0.000000   0.215175      0.151391  0.742815  0.047453
4        0.152722   0.011740      0.061618  0.126071  0.000492
...           ...        ...           ...       ...       ...
6601     0.000000   1.143629      0.000000  0.366610  0.018194
6602     0.000000   0.000000      0.000000  0.000000  0.000000
6603     0.000000   0.000000      0.763895  0.000223  0.000000
6604     0.000000   0.175930      0.000000  0.078767  0.795387
6605     0.063508   0.786234      0.000000  0.000000  0.002950

[6606 rows x 5 columns]

In [20]:
spaceship_target=spaceship.iloc[:,-1]
spaceship_target=pd.DataFrame(0 if i == False else 1 for i in spaceship_target.values)
spaceship_target

      0
0     0
1     1
2     0
3     0
4     1
...  ..
6601  0
6602  0
6603  1
6604  0
6605  1

[6606 rows x 1 columns]

In [21]:
spaceship_som=SOM(m=3,n=2,dim=spaceship_data.shape[1])

In [22]:
spaceship_som.fit(spaceship_data)
spaceship_som.predict(spaceship_data)

KeyError: 6172